{
	"useTabs": true,
	"singleQuote": true,
	"bracketSameLine": true,
	"tabWidth": 2,
	"plugins": [
		"prettier-plugin-svelte",
		"prettier-plugin-tailwindcss",
		"prettier-plugin-classnames"
	],
	"overrides": [
		{
			"files": "*.svelte",
			"options": {
				"parser": "svelte"
			}
		}
	],
	"tailwindStylesheet": "./src/routes/layout.css"
}
