@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	overscroll-behavior: none;
	background-color: var(--color-bg);

	padding-top: var(--spacing-safe-top);
	padding-bottom: var(--spacing-safe-bottom);
	padding-left: var(--spacing-safe-left);
	padding-right: var(--spacing-safe-right);
}

@theme {
	--font-sans: 'Atkinson Hyperlegible Next', sans-serif;
	--font-mono: 'Atkinson Hyperlegible Mono', monospace;
	--color-light-theme: var(--color-slate-50);
	--color-dark-theme: var(--color-slate-950);
	--color-error: var(--color-red-500);

	--color-bg: var(--color-light-theme);
	--color-bg-hover: var(--color-slate-300);
	--color-bg-secondary: var(--color-slate-100);

	--color-text: var(--color-slate-950);
	--color-text-muted: var(--color-slate-700);
	--color-text-secondary: var(--color-slate-500);
	--color-border: var(--color-slate-400);

	--color-button-primary: var(--color-slate-950);
	--color-button-secondary: var(--color-slate-300);

	--spacing-safe-top: env(safe-area-inset-top, 0px);
	--spacing-safe-bottom: env(safe-area-inset-bottom, 0px);
	--spacing-safe-left: env(safe-area-inset-left, 0px);
	--spacing-safe-right: env(safe-area-inset-right, 0px);
}

.dark {
	--color-bg: var(--color-dark-theme);
	--color-bg-hover: var(--color-slate-700);
	--color-bg-secondary: var(--color-slate-900);

	--color-text: var(--color-slate-50);
	--color-text-muted: var(--color-slate-200);
	--color-text-secondary: var(--color-slate-400);
	--color-border: var(--color-slate-500);

	--color-button-primary: var(--color-slate-50);
	--color-button-secondary: var(--color-slate-700);
}
