@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

:root {
	overscroll-behavior: none;
	background-color: var(--color-bg);

	padding-top: var(--spacing-safe-top);
	padding-bottom: var(--spacing-safe-bottom);
	padding-left: var(--spacing-safe-left);
	padding-right: var(--spacing-safe-right);
}

@theme {
	--font-sans: 'Atkinson Hyperlegible Next', sans-serif;
	--font-mono: 'Atkinson Hyperlegible Mono', monospace;
	--color-light-theme: var(--color-gray-50);
	--color-light-theme-hover: var(--color-gray-300);
	--color-dark-theme: var(--color-gray-950);
	--color-dark-theme-hover: var(--color-gray-800);
	--color-error: var(--color-red-500);

	--color-bg: var(--color-light-theme);
	--color-bg-hover: var(--color-light-theme-hover);
	--color-bg-secondary: var(--color-gray-100);

	--color-text: var(--color-gray-950);
	--color-text-muted: var(--color-gray-800);
	--color-text-secondary: var(--color-gray-600);
	--color-text-link: var(--color-cyan-500);
	--color-border: var(--color-gray-400);

	--color-button-primary: var(--color-gray-950);
	--color-button-primary-hover: var(--color-gray-700);
	--color-button-secondary: var(--color-gray-300);
	--color-button-secondary-hover: var(--color-gray-400);

	--spacing-safe-top: env(safe-area-inset-top, 2rem);
	--spacing-safe-bottom: env(safe-area-inset-bottom, 2rem);
	--spacing-safe-left: env(safe-area-inset-left, 2rem);
	--spacing-safe-right: env(safe-area-inset-right, 2rem);
}

.dark {
	--color-bg: var(--color-dark-theme);
	--color-bg-hover: var(--color-dark-theme-hover);
	--color-bg-secondary: var(--color-gray-900);

	--color-text: var(--color-gray-50);
	--color-text-muted: var(--color-gray-200);
	--color-text-secondary: var(--color-gray-400);
	--color-border: var(--color-gray-500);

	--color-button-primary: var(--color-gray-50);
	--color-button-primary-hover: var(--color-gray-300);
	--color-button-secondary: var(--color-gray-700);
	--color-button-secondary-hover: var(--color-gray-800);
}

html,
body {
	height: 100%;
}
